/* CCS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family:"Outfit-Regular";
    src: url(fuentes/Outfit-Regular.ttf) format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"outfit-bold";
    src: url(fuentes/Outfit-Bold.ttf) format("truetype") ;
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family:"outfit-extralight";
    src: url(fuentes/Outfit-ExtraLight.ttf) format("truetype") ;
    font-weight: light
    font-style: normal;
}

/* Configuraciones Generales */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FCFFE2;;
}

h1,h2{
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #93443F;
    margin: 0px;
}

h3 {
    font-family: "outfit-bold", sans-serif;
    font-size: 30pt;
    color: #000000;
    margin: 0px;
}

h4 {
    font-family: "outfit-extralight", sans-serif;
    font-size: 30pt;
    color: #000000;
    margin: 0px;
}


p {
    font-family: "outfit-regular", sans-serif;
    font-size: 25pt;
    color: #000000;
    margin: 0px;
}

/* Navegacion */

nav {
    display: flex;
    background-color: #93443F;
    padding: 35px;
    gap: 30px;
    flex-direction: row;
    justify-content: flex-end;
}
nav a {
    font-family: "outfit-bold", sans-serif;
    font-size: 30pt;
    color: #FCFFE2;
    text-decoration: none;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}




/* Index */


/* Section Presentacion */
#presentacion {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
    margin: 104px 104px 0px 104px;
    
    
}
#presentacion img {
    border-radius: 20%;
}

.texto-presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;   
    flex: 1;
}
.texto-presentacion h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.texto-presentacion p {
    display: block;
    margin: 0px;
}

/* Educacion */

.separador {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 72px;
    margin: 104px;
    /*width: 1920px;*/
}

#educacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#habilidades-hobbies {
    display: flex;
    flex-direction: column;
    gap: 64px;
    
}

#educacion ul {
    display: flex;
    flex-direction: column;
    padding: 0px; 
    gap: 32px;
}

.secundaria, .uba, .unla {
    display: flex;
    flex-direction: column;
   
    gap: 8px;
    align-self: stretch;
    margin: 0px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-programas {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-hobbies {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none
    padding: 0px;
}


/* Proyecto */

#proyectos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#proyectos h2 {
    font-family: "outfit-bold", sans-serif;
    color: #93443F;
    margin: 0px;
    padding: 0px 0px 0px 80px;
}

h5 {
    font-family: "outfit-bold", sans-serif;
    font-size: 20pt;
    color: #FCFFE2;
    margin: 0px;
}
#proyectos p {
    font-family: "outfit-regular", sans-serif;
    font-size: 15pt;
    color: #FCFFE2;
    margin: 0px;
}

#proyectos img {
    border-radius: 80px;
    
}

main figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
main figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}



.textotaller4,{
    opacity: 0;
}


.textotaller4:hover, .textotaller3:hover, .textotaller2:hover   {
    opacity: 1;
    background-color: #93443F;
    border-radius: 60px;
    max-width: 455px;
    max-height: 160px;
    padding: 25px;
    position: relative ;
    top: -175px;

}




.taller4, .taller3, .taller2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:24px 70px 0px 70px;
}

.carruselproyecto {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

/* HTML Proyecto */

#presentacionproyecto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin: 104px 104px 104px 190px;
}

.proyectotaller1 p, .proyectotaller3 p {
    font-family: "outfit-regular", sans-serif;
    font-size: 23pt;
    color: #FCFFE2;
    text-align: left;
    max-width: 870px;
}
.proyectotaller1 h2, .proyectotaller3 h2 {
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #FCFFE2;
    max-width: 760px;
    line-height: 70px;
    text-align : left;
}

.proyectotaller1 , .proyectotaller3 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}

#taller1tp3 img, #taller3tp3 img {
    border-radius: 100px;
}

#taller1tp3,#taller3tp3 {
    background-color: #93443F;
    display: flex;
    flex-direction: row;
    padding: 70px;
    align-items: center;
    justify-content: space-evenly;
}
 
.proyectotaller2 p, .proyectotaller4 p {
    font-family: "outfit-regular", sans-serif;
    font-size: 23pt;
    text-align: left;
    max-width: 885px;
}
.proyectotaller2 h2, .proyectotaller4 h2 {
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #93443F;
    max-width: 760px;
    line-height: 70px;
    text-align : left;
}

.proyectotaller2 , .proyectotaller4 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}

#taller2tp4 img, #taller4tp4 img {
    border-radius: 100px;
}

#taller2tp4,#taller4tp4 {
    display: flex;
    flex-direction: row-reverse;
    padding: 70px;
    align-items: center;
    justify-content: space-evenly;
}

/* HTML Contacto */


/* Footer */

footer {
    background-color: #93443F;
    padding: 15px 25px 15px 30px
}

footer p, h5 {
    font-family: "outfit-regular", sans-serif;
    font-size: 20pt;
    color: #FCFFE2;
    margin: 0px;
}
.contacto {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.imgredessociales {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
}

.redessociales {
    display: flex;
    gap: 8px;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
}

#contactame {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 64px;
}

.firmafinal{
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}