/* CCS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family:"Outfit-Regular";
    src: url(fuentes/Outfit-Regular.ttf) format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"outfit-bold";
    src: url(fuentes/Outfit-Bold.ttf) format("truetype") ;
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family:"outfit-extralight";
    src: url(fuentes/Outfit-ExtraLight.ttf) format("truetype") ;
    font-weight: light ;
    font-style: normal;
}

/* Configuraciones Generales */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FCFFE2;;
}

h1,h2{
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #93443F;
    margin: 0px;
}

h3 {
    font-family: "outfit-bold", sans-serif;
    font-size: 30pt;
    color: #000000;
    margin: 0px;
}

h4 {
    font-family: "outfit-extralight", sans-serif;
    font-size: 30pt;
    color: #000000;
    margin: 0px;
}


p {
    font-family: "outfit-regular", sans-serif;
    font-size: 25pt;
    color: #000000;
    margin: 0px;
}

/* Navegacion */

nav {
    display: flex;
    background-color: #93443F;
    padding: 35px;
    gap: 30px;
    flex-direction: row;
    justify-content: flex-end;
}
nav a {
    font-family: "outfit-bold", sans-serif;
    font-size: 30pt;
    color: #FCFFE2;
    text-decoration: none;
}

a.effect-underline:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}




/* Index */


/* Section Presentacion */
#presentacion {
    display: inline-flex;
    align-items: center;
    gap: 64px;
    margin: 104px 104px 0px 104px;
}

#presentacion img {
    border-radius: 20%;
    max-width: 628px;
}

.texto-presentacion {
    display: flex;
    flex-direction: column;
    gap: 8px;   
    width: 70%;
}

.texto-presentacion h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-presentacion p {
    width: 100%;    
}

/* Educacion */

.separador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 72px;
    margin: 60px;
}

#educacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#habilidades-hobbies {
    display: flex;
    flex-direction: column;
    gap: 64px;
    
}

#educacion ul {
    display: flex;
    flex-direction: column;
    padding: 0px; 
    gap: 32px;
}

.secundaria, .uba, .unla {
    display: flex;
    flex-direction: column;
   
    gap: 8px;
    align-self: stretch;
    margin: 0px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-programas {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-hobbies {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none ;
    padding: 0px;
}


/* Proyecto */

#proyectos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#proyectos h2 {
    font-family: "outfit-bold", sans-serif;
    color: #93443F;
    margin: 0px;
    padding: 0px 0px 0px 80px;
}

h5 {
    font-family: "outfit-bold", sans-serif;
    font-size: 20pt;
    color: #FCFFE2;
    margin: 0px;
}
#proyectos p {
    font-family: "outfit-regular", sans-serif;
    font-size: 15pt;
    color: #FCFFE2;
    margin: 0px;
}

.textotaller4, .textotaller3, .textotaller2 {
    opacity: 0;
    background-color: #93443F;
    border-radius: 60px;
    max-width: 455px;
    max-height: 160px;
    padding: 25px;
    transition: opacity 250ms ease, visibility 250ms ease;
  
}

.taller4:hover {
    justify-content: center;

        .textotaller4{
            opacity: 1;
            display: flex ;
            flex-direction: column;}
}

.taller3:hover {
    justify-content: center;

        .textotaller3 {
            opacity: 1;
            display: flex ;
            flex-direction: column;}
}

.taller2:hover {
    justify-content: center;

        .textotaller2 {
            opacity: 1;
            display: flex ;
            flex-direction: column;}
}

.taller4 {
    background-image: url(fotos/taller-4/taller-de-dise침o-4-tp3.jpg);
    background-size: contain;
    width: 500px;
    height: 500px;
    border-radius: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.taller3 {
    background-image: url(fotos/taller-3/taller-de-dise침o-3-tp3.jpg);
    background-size: contain;
    width: 500px;
    height: 500px;
    border-radius: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.taller2 {
    background-image: url(fotos/taller-2/taller-de-dise침o-2-tp.jpg);
    background-size: contain;
    width: 500px;
    height: 500px;
    border-radius: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.carruselproyecto {
    display: flex;
    gap: 120px;
    margin: 40px 0px 50px 80px;
    max-width: 1920px;
}

/* HTML Proyecto */

#presentacionproyecto {
    display: flex;
    gap: 32px;
    margin: 60px;
    pading: 1500px;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
}

#presentacionproyecto p {
    max-width: 1500px;
}

.proyectotaller1 p, .proyectotaller3 p {
    font-family: "outfit-regular", sans-serif;
    font-size: 23pt;
    color: #FCFFE2;
    text-align: left;
    max-width: 870px;
}
.proyectotaller1 h2, .proyectotaller3 h2 {
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #FCFFE2;
    max-width: 760px;
    line-height: 70px;
    text-align : left;
}

.proyectotaller1 , .proyectotaller3 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}

#taller1tp3 img, #taller3tp3 img {
    border-radius: 100px;
    margin: 0px 0px 0px 50px;
}

#taller1tp3,#taller3tp3 {
    background-color: #93443F;
    display: flex;
    padding: 140px;
    align-items: center;
    flex-direction: row-reverse;
}
 
.proyectotaller2 p, .proyectotaller4 p {
    font-family: "outfit-regular", sans-serif;
    font-size: 23pt;
    text-align: left;
    max-width: 885px;
}
.proyectotaller2 h2, .proyectotaller4 h2 {
    font-family: "outfit-bold", sans-serif;
    font-size: 60pt;
    color: #93443F;
    max-width: 760px;
    line-height: 70px;
    text-align : left;
}

.proyectotaller2 , .proyectotaller4 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}

#taller2tp4 img, #taller4tp4 img {
    border-radius: 100px;
}

#taller2tp4,#taller4tp4 {
    display: flex;
    margin: 70px;
    padding: 70px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.carrusel {
    height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carrusel {
  position: relative;
}

.carrusel img {
    position: absolute;
    top: -155px;
    left: -1600px;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.carrusel {
    height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carruselderecha {
  position: relative;
}

.carruselderecha img {
    position: absolute;
    top: -240px;
    left: 190px;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
/* Efecto hover imagenes proyecto
main figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
main figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
} */



/* HTML Contacto */

#contacto {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin: 70px;
    justify-content: space-evenly;  
}

body h1 {
    margin: 40px
}

#contacto p {
    max-width: 800px;
}

.instrucciones {
    font-family: "outfit-bold", sans-serif;
    font-size: 20pt;
    color: #93443F;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    max-width: 800px;
    height: 40px;
    padding: 5px;
    border :5px solid;
    border-color: #93443F;
    border-radius: 12px;
}

textarea {
    max-width: 800px;
    height: 200px;
    padding: 5px;
    border :5px solid;
    border-color: #93443F;
    border-radius: 12px;
}


input[type="submit"], input[type="reset"] {
    width: 150px;
    background-color: #93443F;
    color: #FCFFE2;
    font-family: "outfit-bold", sans-serif;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    margin-top: 16px;
}

.boton {
    display: flex;
    gap: 16px;
}



/* Footer */

footer {
    background-color: #93443F;
    padding: 15px 25px 15px 30px
}

footer p, h5 {
    font-family: "outfit-regular", sans-serif;
    font-size: 20pt;
    color: #FCFFE2;
    margin: 0px;
}
.contacto {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.imgredessociales {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
}

.redessociales {
    display: flex;
    gap: 8px;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
}

#contactame {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 64px;
}

.firmafinal{
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Responsive Tablet Nav */

@media screen and (max-width: 1200px) {
    nav {
    display: flex;
    background-color: #93443F;
    padding: 50px;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    }

    nav a {
    font-family: "outfit-bold", sans-serif;
    font-size: 40pt;
    color: #FCFFE2;
    text-decoration: none;
    }

    /* Responsive Tablet footer */
        
    #contactame {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 0px 0px 20px 0px;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
   
    /* Responsive Tablet Index */

    #presentacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin: 50px;
    }

    h1 {
        font-size: 55pt;
    }

   #educacion ul {
       max-width: 70%;
    }

    #educacion {
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin: 0px 0px 32px 115px;
    }

    #habilidades-hobbies {
        align-items: center;
        max-width: 1000px;
    }

    .separador {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 40px 50px;
    }

    .textotaller2, .textotaller3, .textotaller4 {
        display: flex;  
        opacity: 1;
        flex-direction: column;
        gap: 8px;
        top: auto;
    }

    .taller2, .taller3, .taller4 {
        display: flex;
        flex-direction: column;
        align-items: center;  
        margin: 24px 70px 0px 70px;
        gap: 12px;
        justify-content: flex-end;
    }

    .carruselproyecto {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    #proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 40px 0px;

    }

    .redessociales {
    display: flex;
    align-items: center;
    }  

}


@media screen and (max-width: 450px) {
    nav {
        padding: 70px;
        width: 100%;
        justify-content: center;
    }

    nav a {
        font-size: 20pt;
    }

    #presentacion img {
    max-width: 425px;
    max-height: 425px;        
    }

    #presentacion {
        margin: 40px 0px 0px 0px
    }

    h1,h2 {
        font-size: 30pt;
    }

    p {
    font-size: 15pt;
    }

    #proyectos p {
    font-size: 12pt;
    }

    .texto-presentacion {
        width: 90%;
    }

    h3 {
    font-size: 15pt;
    }

    h4 {
    font-size: 15pt;
    }

    #educacion ul {
    gap: 18px;
    }

    #educacion {
    margin: 20px;
    }

    .separador {
    margin: 0px;
    }

    .img-hobbies img {
    max-width: 70px;
    max-height: 70px;
    }

    .hobbies, .habilidades {
    align-items: center;
    }

    .img-programas img {
    max-width: 70px;
    max-height: 70px;
    }

    #proyectos h2 {
    padding: 0px;
    }

    .taller4, .taller3, .taller2 {
    width: 400px;
    height: 400px;
    margin: 0px;
    }

    .carruselproyecto {
    margin: 0px;
    }

    #proyectos {
    margin: 20px;
    gap: 20px;
    }

    .textotaller2, .textotaller3, .textotaller4 {
    max-width: 315px;
    max-height: 160px;
    gap: 0px;
    padding: 20px;
    }

    #contactame {
    gap: 32px;
    margin: 0px 0px 40px 0px;
    }

    .contacto {
    gap: 24px;
    }

}

/* galeria */

#presentaciongaleria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 50px
}
#galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.galeriafotos img {
    margin: 10px;
    border-radius: 40px;
    width: 500px;
    height: 500px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/*
.galeriafotos img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeriafotos img:active {
    transform: scale(1.5);
}
*/

.galeriafotos input {
  display: none;
}

.galeriafotos img:hover {
  transform: scale(1.05);
}


/* Cuando el checkbox est치 marcado (click activado) */
.galeriafotos input:checked + label img {
  transform: scale(1.5);
  z-index: 10;
}
